:root {
    --font: "Montserrat", sans-serif;
    --main-color: #fff;
    --second-color: #28353b;
    --third-color: #4A7183;
    --btn-color : #E02C74;
    --bg-color: #061E29;
    --bg-form-color: #103545;
    --input-color: #11384a;
    --box-shadow-1: -1px 8px 17px -12px #000000;
    --box-shadow-2: -1px 8px 17px -12px #000000;
    --gradient-color: linear-gradient(180deg, rgba(16, 53, 69, 1) 0%, rgba(7, 37, 50, 1) 100%);
}

body {
    font-family: var(--font);
    background-color: var(--bg-color);
    color: var(--main-color);
}

h2 {
    margin: 1rem 0rem;
    font-size: 1.5rem;
    font-weight: 700;
}
.container {
    width: 90%;
    margin: 0 auto;
}
.lista-clientes h2:first-child {
    text-transform: uppercase;
}
.container-clientes {
    display: flex;
    justify-content: center;
}
.lista-clientes {
    padding: 1.5rem;
    border-radius: 1rem;
    background-color: var(--bg-form-color);
    background: var(--gradient-color);
    min-height: 2rem;
    overflow-x: auto;
    margin-right: 2rem;
}

thead th,
tbody td{
    padding: 1rem 1rem;
    text-align: left;
    text-wrap: nowrap;
    overflow: hidden;
}
tbody a {
    text-decoration: none;
    padding: .5rem 1rem;
    border-radius: .5rem;
    color: var(--main-color);
    background-color: var(--btn-color);
}
thead th:nth-child(1),
tbody td:nth-child(1){
    max-width: 6ch;
}
thead th:nth-child(2),
tbody td:nth-child(2){
    max-width: 23ch;
}
thead th:nth-child(3),
tbody td:nth-child(3){
    max-width: 23ch;
}
thead th:nth-child(4),
tbody td:nth-child(4){
    max-width: 8ch;
}
thead th:nth-child(5),
tbody td:nth-child(5){
    max-width: 9ch;
}
thead th:nth-child(6),
tbody td:nth-child(6){
    width:100%;
}
.crear-cliente {
    width: 25rem;
    padding: 1.5rem;
    border-radius: 1rem;
    background-color: var(--bg-form-color);
    background: var(--gradient-color);
    max-height: 25rem;
}
.crear-cliente legend {
    margin: 1rem 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 600;
}
.crear-cliente form {
    display: flex;
    flex-direction: column;;
}
.crear-cliente input {
    font-family: var(--font);
    color: var(--main-color);
}
.crear-cliente input[type="text"],
.crear-cliente input[type="tel"],
.crear-cliente input[type="number"] {
    width: 90%;
    margin: .5rem auto;
    background-color: var(--input-color);
    border: none;
    border-radius: .5rem;
    -webkit-box-shadow: var(--box-shadow-1);
    box-shadow: var(--box-shadow-2);
    padding: 1rem 1rem;
}
.crear-cliente input:focus-visible {
    outline: none;
}
.crear-cliente input::placeholder {
    color: var(--third-color);
    text-transform: uppercase;
}
.crear-cliente input[type="button"] {
    color: var(--third-color);
    text-transform: uppercase;
    background: none;
    border: none;
    align-self: flex-end;
    cursor: pointer;
    font-size: .7rem;
}

.crear-cliente input[type="submit"] {
    color: var(--main-color);
    background-color: var(--second-color);
    border: none;
    width: 40%;
    padding: 1rem 0rem;
    border-radius: 2rem;
    font-size: 1rem;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    -webkit-box-shadow: var(--box-shadow-1);
    box-shadow: var(--box-shadow-2);
    margin: 0 auto;
}